<header class="trifid-header">
  <div class="trifid-content">
    <div class="logo-block">
      <a href="/">
        <img src="/static-assets/crisp-logo.svg" alt="Crisp" class="logo" height="50" />
      </a>
      <span class="separator">/</span>
      <span class="app-name">Knowledge Graph</span>
    </div>
  </div>
</header>
